body {
    margin: 0;
    font-family: Roboto; san-serif;
}

.top-bg {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 100px;
    height: 20px;
    color: #f9faf8;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 10px;
    gap: 5px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.topsection {
    display: flex;
    margin: 0;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 11px;
}

.top-left-side {
    display: flex;
    flex-direction: column;
}

.top-left-side button {
    width: 20%;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 3px;
    font-weight: 550;
}

#awesome {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

#top-secondary {
    margin: 10px 0;
}

.topsection * {
    width: 100%;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-row {
    display: flex;
    align-items: center;
    padding: 0 100px;
    gap: 13px;
}

.imagebox {
    border: solid 1px #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    align-items: center;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section3 {
    background-color: #e5e7eb;
    padding: 50px 150px;
}

#quote {
    font-size: 24px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

#thor {
    text-align: end;
    font-weight: 600;
}

.innerdiv {
    background-color: #3882f6;
    margin: 50px 150px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
}