body {
    margin: 0;
    font-family: Roboto, san-serif;
}

.top-bg {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 20%;
    height: 20px;
    color: #f9faf8;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 10px;
    gap: 5px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.topsection {
    display: flex;
    margin: 0;
    padding: 30px 20%;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 11px;
}

.top-left-side {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.top-left-side button {
    width: auto;
    align-self: start;
    border-radius: 3px;
    padding: 4px 25px;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    font-weight: 550;
}

#awesome {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

#top-secondary {
    margin: 10px 0;
}

.topsection * {
    width: 100%;
}

.image-placeholder {
    background-color: rgba(156, 156, 156, 0.521);
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25% 50px;
}

.image-row {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 13px;
}

.imagebox {
    border: solid 2px #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    align-items: center;
}

.image-item p {
    font-size: small;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section3 {
    background-color: #e5e7eb;
    padding: 50px 23%;
}

#quote {
    font-size: 24px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

#thor {
    text-align: end;
    font-weight: 600;
}

.innerdiv {
    background-color: #3882f6;
    margin: 50px 150px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.innerdiv button {
    height: fit-content;
    align-self: center;
    color: white;
    background-color: #3882f6;
    border: solid 2px;
    border-radius: 3px;
    padding: 4px 25px;
    font-weight: 550;
    border-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color:#e5e7eb;
    margin: 0;
    padding: 8px;
    text-align: center;
}