body {
    margin: 0;
    font-family: Roboto; san-serif;
}

.top-bg {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 60px;
    height: 20px;
    color: #f9faf8;
    align-items: center;
    font-size: 18px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 10px;
    gap: 5px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

